# ======================
# Node / Next.js
# ======================
node_modules/
.next/
out/

# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc
.env

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# VS Code
# ======================
.vscode/
